kubectl get pods --namespace=dev 
kubectl get pods
kubectl get pods --all-namespaces
kubectl config set-contex $(kubectl config current contex) --namespace=prod
kubectl create namespace dev
kubectl create deployment redis-deploy --image=redis --namespace=dev-ns --replicas=2
